services:
  postgres-leader:
    image: postgres:16
    container_name: postgres-leader
    ports:
      - "5433:5432"
    environment:
      POSTGRES_PASSWORD: "12345"
      POSTGRES_DB: "distributed_url_checker"
      POSTGRES_USER: "postgres"
    command: >
      postgres -c wal_level=replica
      -c max_replication_slots=10
      -c max_wal_senders=10
    volumes:
      - ./postgres-leader:/var/lib/postgresql/data
      - ./init-leader.sh:/docker-entrypoint-initdb.d/init-leader.sh
    networks:
      - distributed-url-checker

  postgres-follower:
    image: postgres:16
    container_name: postgres-follower
    ports:
      - "5434:5432"
    depends_on:
      - postgres-leader
    environment:
      POSTGRES_PASSWORD: "12345"
      POSTGRES_USER: "postgres"
    volumes:
      - postgres-follower:/var/lib/postgresql/data
      - ./init-replica.sh:/docker-entrypoint-initdb.d/init-replica.sh
    networks:
      - distributed-url-checker

networks:
  distributed-url-checker:
volumes:
  postgres-follower: