services:
  postgres-leader:
    image: postgres:15-alpine
    container_name: postgres-leader
    environment:
      POSTGRES_PASSWORD: 12345
      POSTGRES_USER: postgres
      POSTGRES_DB: urlchecker
    command: >
      postgres
      -c wal_level=replica
      -c max_wal_senders=3
      -c max_replication_slots=3
      -c hot_standby=on
      -c listen_addresses='*'
    ports:
      - "5432:5432"
    volumes:
      - leader-data:/var/lib/postgresql/data
      - ./init-leader.sh:/docker-entrypoint-initdb.d/init-leader.sh
    networks:
      - url-checker-network

  postgres-follower:
    image: postgres:15-alpine
    container_name: postgres-follower
    environment:
      POSTGRES_PASSWORD: 12345
      POSTGRES_USER: postgres
    command: >
      bash -c "
          until pg_isready -h postgres-leader -p 5432 -U postgres; do
            echo 'Waiting for leader...';
            sleep 2;
          done;
          if [ ! -s /var/lib/postgresql/data/PG_VERSION ]; then
            echo 'Cloning data from leader...';
            PGPASSWORD=12345 pg_basebackup -h postgres-leader -D /var/lib/postgresql/data -U postgres -v -P -R;
          fi;
          exec docker-entrypoint.sh postgres
          "
    ports:
      - "5433:5432"
    depends_on:
      - postgres-leader
    volumes:
      - follower-data:/var/lib/postgresql/data
    networks:
      - url-checker-network

networks:
  url-checker-network:

volumes:
  leader-data:
  follower-data: